.App {
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  align-self: center;
  background-color: #3d3e3f;

  .App-header {
    height: 100vh;
  }

  .title {
    font-weight: bold;
    margin-top: 48px;
    margin-bottom: 48px;
  }
}
